/* GLOBAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
section {
	padding: 100px 0;
}
.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
.about,
.services,
.social,
.contact {
	font-family: "Jost", sans-serif;
}

.about .title,
.services .title,
.social .title,
.contact .title {
	font-family: "Lora", serif;
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 60px;
	padding-bottom: 20px;
}
.about .about-content,
.services .serv-content,
.contact .contact-content,
.social .social-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* PRELOADER */
#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fcfafc url('../assets/loader/load.gif') no-repeat center;
	z-index: 99999;
}

/* NAVBAR */
.navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: "Jost", sans-serif;
	transition: all 0.35s ease-in-out;
	cursor: pointer;
}
.navbar.sticky {
	padding: 15px 0;
	background: crimson;
}
.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	font-family: "Lora", serif;
}
.navbar .logo a span {
	color: crimson;
	transition: all 0.35s ease-in-out;
}
.navbar.sticky .logo a span {
	color: #111;
}
.navbar .menu li {
	list-style: none;
	display: inline-block;
}
.navbar .menu li a {
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-left: 25px;
	transition: all 0.35s ease-in-out;
}
.navbar .menu li a:hover {
	color: crimson;
}
.navbar.sticky .menu li a:hover {
	color: #fff;
}
.menu-btn {
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 42px;
	background: crimson;
	right: 30px;
	bottom: 10px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 8px;
	border-bottom-width: 2px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.35s ease-in-out;
}
.scroll-up-btn.show {
	bottom: 30px;
	opacity: 1;
	pointer-events: auto;
}
.scroll-up-btn:hover {
	background: #111;
}

/* HOMEPAGE */
.home {
	display: flex;
	background: url("../assets/home/home.jpg") no-repeat;
	height: 100vh;
	color: #fff;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Lora", serif;
}
.home .max-width {
	width: 100%;
	display: flex;
}
.home .max-width .row {
	margin-right: 0;
}
.home .home-content .text-1 {
	font-size: 27px;
	font-weight: 700;
}
.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 700;
	margin-left: -3px;
}
.home .home-content .text-3 {
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 span {
	color: crimson;
	font-weight: 700;
}
.home .home-content a {
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	font-weight: 700;
	border-radius: 6px;
	border: 2px solid crimson;
	transition: all 0.3s ease;
	cursor: pointer;
}
.home .home-content a:hover {
	color: crimson;
	background: none;
}

/* ABOUT PAGE */
.about .about-content .left {
	width: 45%;
}
.about .about-content .left img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}
.about .about-content .right {
	width: 55%;
}
.about .about-content .right p span {
	color: crimson;
	text-transform: uppercase;
}
.about .about-content .right p {
	text-align: justify;
	font-size: 25px;
}
.about .about-content .right a {
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 8px;
	border: 2px solid crimson;
	transition: all 0.35s ease-in-out;
}
.about .about-content .right a:hover {
	color: crimson;
	background: none;
}

/* SOCIAL LINKS */
.social {
	color: #fff;
	background: #111;
}
.social .title::before {
	background: #fff;
}
.social .title::after {
	background: #111;
}
.social .social-content .card {
	width: calc(33% - 20px);
	background: #222;
	text-align: center;
	border-radius: 8px;
	padding: 50px 25px;
	margin: 20px 0;
	transition: all 0.35s ease-in-out;
}
.social .social-content .card:hover {
	background: crimson;
}
.social .social-content .card .box a :hover {
	color: #111;
	text-decoration: underline;
}
.social .social-content .card .box {
	transition: all 0.35s ease-in-out;
}
.social .social-content .card:hover .box {
	transform: scale(1.25);
}
.social .social-content .card i {
	font-size: 50px;
	color: crimson;
	transition: color 0.35s ease-in-out;
}
.social .social-content .card:hover i {
	color: #fff;
}
.social .social-content .card a .text {
	font-size: 25px;
	color: #fff;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/* WORKS */
.work h2 {
	font-family: "Lora", serif;
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 60px;
	padding-bottom: 20px;
}
.work .work-container .content-container .text {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
	color: crimson;
}
.work .work-container .content-container p {
	text-align: justify;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
	font-family: "Jost", sans-serif;
}
.work-container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	z-index: 999;
	padding: 50px 30px;
	font-family: "Jost", sans-serif;
	transition: all 0.35s ease-in-out;
}
.work-container .columns {
	flex: 0 0 auto;
	width: 50%;
}
.work-container .columns.image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.work-container .columns.content .content-container {
	padding: 40px 50px;
}
.work .work-container .content-container a {
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 8px;
	border: 2px solid crimson;
	transition: all 0.35s ease-in-out;
}
.work .work-container .content-container a:hover {
	color: crimson;
	background: none;
}

/* SERVICES */
.services {
	color: #fff;
	background: #111;
}
.services .title::before {
	background: #fff;
}
.services .title::after {
	background: #111;
}
.services .serv-content .card {
	width: calc(50% - 20px);
	background: #222;
	text-align: center;
	border-radius: 8px;
	padding: 50px 25px;
	margin: 20px 0;
	transition: all 0.35s ease-in-out;
}
.services .serv-content .card:hover {
	background: crimson;
}
.services .serv-content .card .box {
	transition: all 0.35s ease-in-out;
}
.services .serv-content .card:hover .box {
	transform: scale(1.25);
}
.services .serv-content .card i {
	font-size: 50px;
	color: crimson;
	transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
	color: #fff;
}
.services .serv-content .card .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/* CONTACT PAGE */
.contact .contact-content .column {
	width: calc(50% - 30px);
}
.contact .contact-content .left p {
	text-align: justify;
}
.contact .contact-content .left .icons {
	margin: 10px 0;
}
.contact .contact-content .left .text {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
	color: crimson;
}
.contact .contact-content .left p {
	text-align: justify;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 10px;
}
.contact .contact-content .info .head {
	font-weight: 500;
}
.contact .contact-content .info .sub-title {
	color: #333;
}
.contact .right form .fields {
	display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}
.contact .right form .textarea {
	height: 80px;
	width: 100%;
}
.contact .right form .name {
	margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: "Jost", sans-serif;
	transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
	border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
	padding-top: 10px;
	resize: none;
}
.contact .right form .button-area {
	display: flex;
	align-items: center;
}
.right form .button-area button {
	color: #fff;
	display: block;
	width: 160px !important;
	height: 45px;
	outline: none;
	font-size: 18px;
	font-weight: 600;
	border-radius: 8px;
	cursor: pointer;
	flex-wrap: nowrap;
	background: crimson;
	border: 2px solid crimson;
	transition: all 0.35s ease-in-out;
	font-family: "Jost", sans-serif;
}
.right form .button-area button:hover {
	color: crimson;
	background: none;
}

/* FOOTER */
footer {
	background: #111;
	padding: 15px 23px;
	color: #fff;
	text-align: center;
}
footer span a {
	color: crimson;
	text-decoration: none;
}
footer span a:hover {
	text-decoration: underline;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1104px) {
	.about .about-content .left img {
		height: 350px;
		width: 350px;
	}
	.work-container {
		flex-flow: row wrap;
	}
	.work-container .columns.image {
		display: block;
		order: 1;
		width: 100%;
		height: 350px;
	}
	.work-container .columns.content {
		display: block;
		order: 2;
		width: 100%;
	}
	.work-container .columns.content .content-container {
		padding: 20px 35px;
	}
}

/* RESPONSIVE DESIGN */
@media (max-width: 991px) {
	.max-width {
		padding: 0 50px;
	}
}

/* RESPONSIVE DESIGN */
@media (max-width: 947px) {
	.menu-btn {
		display: block;
		z-index: 999;
	}
	.menu-btn i.active:before {
		content: "\f00d";
	}
	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 100px;
		transition: all 0.35s ease-in-out;
	}
	.navbar .menu.active {
		left: 0;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.home .home-content .text-2 {
		font-size: 70px;
	}
	.home .home-content .text-3 {
		font-size: 35px;
	}
	.home .home-content a {
		font-size: 23px;
		padding: 10px 30px;
	}
	.max-width {
		max-width: 930px;
	}
	.about .about-content .column {
		width: 100%;
	}
	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right {
		flex: 100%;
	}
	.services .serv-content .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.social .social-content .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.contact .contact-content .column {
		width: 100%;
		margin-bottom: 35px;
	}
}

/* RESPONSIVE DESIGN */
@media (max-width: 690px) {
	.max-width {
		padding: 0 23px;
	}
	.home .home-content .text-2 {
		font-size: 60px;
	}
	.home .home-content .text-3 {
		font-size: 32px;
	}
	.home .home-content a {
		font-size: 20px;
	}
	.services .serv-content .card {
		width: 100%;
	}
	.social .social-content .card {
		width: 100%;
	}
}

/* RESPONSIVE DESIGN */
@media (max-width: 500px) {
	.home .home-content .text-2 {
		font-size: 50px;
	}
	.home .home-content .text-3 {
		font-size: 27px;
	}
	.about .about-content .right .text {
		font-size: 19px;
	}
	.contact .right form .fields {
		flex-direction: column;
	}
	.contact .right form .name,
	.contact .right form .email {
		margin: 0;
	}
	.right form .error-box {
		width: 150px;
	}
	.scroll-up-btn {
		right: 15px;
		bottom: 15px;
		height: 38px;
		width: 35px;
		font-size: 23px;
		line-height: 38px;
	}
}
